<a href="https://colab.research.google.com/github/lawrencefritts/lawrencefritts/blob/main/Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
filename = '/content/drive/MyDrive/CodingDojo/Week1/sales_predictions.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# get data from file
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [3]:
# get shape of data
df.shape

(8523, 12)

In [4]:
# data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
# check for duplicates
df.duplicated().any()

False

In [6]:
# checking for missing data
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
# get nulls for Item_Weight
item_wt_missing_filter = df['Item_Weight'].isnull()
df[item_wt_missing_filter]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [8]:
# it appears the Item_Weight for Soft Drinks are not consistent with the weight.  
# It is assumed that the rest of the weights would show the same behaviour.
# Since the weights are associated with a generic Item_Type and the weights are random,
# the column will be dropped. 
df[df['Item_Type'] == 'Soft Drinks']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1              DRC01        5.920  ...  Supermarket Type2           443.4228
34             DRH01       17.500  ...  Supermarket Type1          2085.2856
37             DRZ11        8.850  ...  Supermarket Type2          1609.9044
68             DRH37       17.600  ...  Supermarket Type1          2302.3364
92             DRI25       19.600  ...  Supermarket Type1          1381.5350
...              ...          ...  ...                ...                ...
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8506           DRF37       17.250  ...  Supermarket Type2          3944.8650
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[445 rows x 12 columns]

In [9]:
# drop Item_Weight column
df.drop('Item_Weight', axis=1, inplace=True)
df.head()

  Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           FDA15          Low Fat  ...  Supermarket Type1         3735.1380
1           DRC01          Regular  ...  Supermarket Type2          443.4228
2           FDN15          Low Fat  ...  Supermarket Type1         2097.2700
3           FDX07          Regular  ...      Grocery Store          732.3800
4           NCD19          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 11 columns]

In [10]:
# get null values from Outlet_size
# display null value rows
outlet_size_missing_filter = df['Outlet_Size'].isnull()
df[outlet_size_missing_filter]

     Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
3              FDX07          Regular  ...      Grocery Store          732.3800
8              FDH17          Regular  ...  Supermarket Type1         1076.5986
9              FDU28          Regular  ...  Supermarket Type1         4710.5350
25             NCD06          Low Fat  ...  Supermarket Type1          838.9080
28             FDE51          Regular  ...      Grocery Store          178.4344
...              ...              ...  ...                ...               ...
8502           NCH43          Low Fat  ...  Supermarket Type1         3020.0688
8508           FDW31          Regular  ...  Supermarket Type1         2587.9646
8509           FDG45          Low Fat  ...      Grocery Store          424.7804
8514           FDA01          Regular  ...  Supermarket Type1          468.7232
8519           FDS36          Regular  ...  Supermarket Type1          549.2850

[2410 rows x 11 columns]

In [11]:
# find the unique values in outlet_size
df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [12]:
# find the unique values in outlet_location_type
df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [13]:
# create a map between values in Outlet_Location_Type and Outlet_Size
outlet_size_dict = {
    'Tier 3': 'High',
    'Tier 2': 'Medium',
    'Tier 1': 'Small',
}

df['Outlet_Size'] = df['Outlet_Location_Type'].map(outlet_size_dict)
df['Outlet_Size'].unique()

array(['Small', 'High', 'Medium'], dtype=object)

In [14]:
# Confirm no other missing data
df.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [15]:
# Check for inconsistent Item_Identifier
df['Item_Identifier'].unique()
# Appears this column is unique values for everything and probably be dropped

array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
      dtype=object)

In [16]:
# Check for inconsistent Item_Fat_Content
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [17]:
# Fix
fat_dict = {
    'Low Fat': 'Low Fat',
    'Regular': 'Regular',
    'low fat': 'Low Fat',
    'LF': 'Low Fat',
    'reg': 'Regular'
}

df['Item_Fat_Content'] = df['Item_Fat_Content'].map(fat_dict)
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [18]:
# Check for inconsistent Item_Type
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [19]:
# Check for inconsistent Outlet_Identifier
df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [20]:
# Check for inconsistent Outlet_Establishment_Year
df['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004])

In [21]:
# Check for inconsistent Outlet_Type
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [22]:
# Summary Statistics
# It is assumed that Item_MRP and Establishment_year are not numerical data

visibility_stats = df['Item_Visibility'].describe()
item_sales_stats = df['Item_Outlet_Sales'].describe()
nl = '\n'
print(f"Item_Visibilty:{nl}{visibility_stats}{nl}{nl}Item_Outlet_Sales:{nl}{item_sales_stats}")

Item_Visibilty:
count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

Item_Outlet_Sales:
count     8523.000000
mean      2181.288914
std       1706.499616
min         33.290000
25%        834.247400
50%       1794.331000
75%       3101.296400
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64